In [1]:
import os
import pandas as pd

from transformers import T5Tokenizer, T5ForConditionalGeneration

In [9]:
!curl 'https://storage.googleapis.com/kagglesdsdata/competitions/80878/8891242/test.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1726639218&Signature=KYEElr57HG9qaDEikT5%2BXK7b2CIS%2F7%2BPCEoHwXcUG2Tu1zqVlfSRiUgB%2BZCKrHKB3YY%2FfXq%2BhkppRakvguxACp45cWjiPpOktET8JI9MrjvRBENI1JW0qxGuDz6w2kh2YpjNqSOhx%2FMyW4g2zEqdSzvm56JRgqIWRYWEU2LR%2Bv0uJJymeqJQJoo%2FiSOahxESt5GY75PvezN54zfm%2BeRhKbEy7ZaFZYFejGIIb4L%2BhSA%2B%2Bm5vKmVukVvnbZ3Upg0KHe6U2%2BN3DXQSmSJI%2Fu7jkLpaQ1E3YrnBJdGjNW3CudlyrW4mg9y03O9i4Py0GJ8VZODw43wZx5YKuP0h6OCWnw%3D%3D&response-content-disposition=attachment%3B+filename%3Dtest.csv' \
  -H 'accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7' \
  -H 'accept-language: ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7' \
  -H 'priority: u=0, i' \
  -H 'referer: https://www.kaggle.com/' \
  -H 'sec-ch-ua: "Chromium";v="128", "Not;A=Brand";v="24", "Google Chrome";v="128"' \
  -H 'sec-ch-ua-arch: "arm"' \
  -H 'sec-ch-ua-bitness: "64"' \
  -H 'sec-ch-ua-full-version-list: "Chromium";v="128.0.6613.120", "Not;A=Brand";v="24.0.0.0", "Google Chrome";v="128.0.6613.120"' \
  -H 'sec-ch-ua-mobile: ?0' \
  -H 'sec-ch-ua-model: ""' \
  -H 'sec-ch-ua-platform: "macOS"' \
  -H 'sec-ch-ua-platform-version: "14.6.1"' \
  -H 'sec-ch-ua-wow64: ?0' \
  -H 'sec-fetch-dest: document' \
  -H 'sec-fetch-mode: navigate' \
  -H 'sec-fetch-site: cross-site' \
  -H 'sec-fetch-user: ?1' \
  -H 'upgrade-insecure-requests: 1' \
  -H 'user-agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36' \
  -H 'x-client-data: CIe2yQEIprbJAQipncoBCMDdygEIlKHLAQiGoM0BCNm9zgEYj87NAQ==' \
  -o 'test.csv'

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 28804  100 28804    0     0   153k      0 --:--:-- --:--:-- --:--:--  154k

In [4]:
!df -h

Filesystem      Size  Used Avail Use% Mounted on
overlay         100G   49G   52G  49% /
tmpfs            64M     0   64M   0% /dev
tmpfs           7.7G     0  7.7G   0% /sys/fs/cgroup
/dev/nvme0n1p1  100G   49G   52G  49% /run
tmpfs            14G     0   14G   0% /dev/shm
/dev/nvme2n1    2.0G  148M  1.8G   8% /home/jovyan
tmpfs            14G  120K   14G   1% /home/jovyan/.saturn
tmpfs            14G   12K   14G   1% /run/secrets/kubernetes.io/serviceaccount
tmpfs           7.7G   12K  7.7G   1% /proc/driver/nvidia
tmpfs           7.7G  3.0M  7.7G   1% /run/nvidia-persistenced/socket
tmpfs           7.7G     0  7.7G   0% /proc/acpi
tmpfs           7.7G     0  7.7G   0% /sys/firmware

In [5]:
tokenizer = T5Tokenizer.from_pretrained("google/flan-t5-xl")
model = T5ForConditionalGeneration.from_pretrained("google/flan-t5-xl", device_map="auto")

tokenizer_config.json:   0%|          | 0.00/2.54k [00:00<?, ?B/s]

spiece.model:   0%|          | 0.00/792k [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/2.20k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/2.42M [00:00<?, ?B/s]

You are using the default legacy behaviour of the <class 'transformers.models.t5.tokenization_t5.T5Tokenizer'>. This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=False`. This should only be set if you understand what it means, and thoroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565
/opt/saturncloud/envs/saturn/lib/python3.9/site-packages/transformers/tokenization_utils_base.py:1601: FutureWarning: `clean_up_tokenization_spaces` was not set. It will be set to `True` by default. This behavior will be depracted in transformers v4.45, and will be then set to `False` by default. For more details check this issue: https://github.com/huggingface/transformers/issues/31884
  warnings.warn(

config.json:   0%|          | 0.00/1.44k [00:00<?, ?B/s]

model.safetensors.index.json:   0%|          | 0.00/53.0k [00:00<?, ?B/s]

Downloading shards:   0%|          | 0/2 [00:00<?, ?it/s]

model-00001-of-00002.safetensors:   0%|          | 0.00/9.45G [00:00<?, ?B/s]

model-00002-of-00002.safetensors:   0%|          | 0.00/1.95G [00:00<?, ?B/s]

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

generation_config.json:   0%|          | 0.00/147 [00:00<?, ?B/s]

In [ ]:
input_text = "translate English to German: How old are you?"
input_ids = tokenizer(input_text, return_tensors="pt").input_ids.to("cuda")

outputs = model.generate(input_ids)
print(tokenizer.decode(outputs[0]))

In [10]:
test_df = pd.read_csv('test.csv')

In [11]:
test_df

    problem_id                                       problem_text
0        11919  Find the value of the expression \(4.8 \cdot 2...
1         8513  The plane's navigation system informs the pass...
2         7887  The volume of a rectangular parallelepiped is ...
3         5272  Find the root of the equation: $\left(\dfrac{1...
4         8295  At the school, there are two-person camping te...
..         ...                                                ...
95        3519  A tourist is selecting tours. Information abou...
96        7934  The area of a triangle can be calculated using...
97        9390  A construction contractor plans to buy 20 tons...
98        7137  The number of road traffic accidents (RTAs) in...
99        5914  Find the value of the expression $\dfrac{2.4\c...

[100 rows x 2 columns]

In [17]:
def llm(prompt):
    input_ids = tokenizer(prompt, return_tensors="pt").input_ids.to("cuda")
    outputs = model.generate(
        input_ids,
        max_length=100
    )
    return tokenizer.decode(outputs[0], skip_special_tokens=True)

In [30]:
import re

def get_answer(question):
    prompt = f"""Please solve the following high school math problem step by step. Explain your reasoning clearly and provide the final answer.

{question}

Step-by-step solution and final answer:"""

    return llm(prompt)

def parse_answer(question, message):
    prompt = f""" Please analyze the solution for a given problem, fix it if needed, and then provide the final answer.         

    
Q: {question}

Solution: {message}

final answer:
    
    """
    
    return llm(prompt)


def extract_numerical_answer(text):
    # Look for patterns like "Final answer: X" or "The answer is X" at the end of the text
    match = re.search(r'(?:final answer|the answer is)[:\s]*([+-]?\d*\.?\d+)', text, re.IGNORECASE)
    if match:
        return float(match.group(1))
    else:
        # If no clear final answer, look for the last number in the text
        numbers = re.findall(r'[+-]?\d*\.?\d+', text)
        return float(numbers[-1]) if numbers else 1.0

In [35]:
question = test_df.iloc[10]['problem_text']
response_1 = get_answer(question)
response_1 = response_1.strip()
response_1

'If they ate the jam equally, the Bear ate 4 * 51 = 228 cookies. If they ate the jam equally, Masha ate 228 / 2 = 126 cookies. If the Bear ate 228 / 4 = 68 cookies, the Bear ate 68 / 2 = 32 cookies. The final answer: 32.'

In [36]:
response_2 = parse_answer(question, response_1)
response_2 = response_2.strip()
response_2

'The Bear ate 4 * 51 = 228 cookies.'

In [37]:
numerical_answer = extract_numerical_answer(parse_answer(question, response_1))
numerical_answer

228.0

In [38]:
from tqdm import tqdm

GLOBAL_SOLUTIONS_FOR_SUBMISSION = []

for idx, row in tqdm(test_df.iterrows(), total=len(test_df)):

    question = row['problem_text']
    response_1 = get_answer(question)
    response_1 = response_1.strip()
    
    # response_2 = parse_answer(question, response_1)
    # response_2 = response_2.strip()
    
    numerical_answer = extract_numerical_answer(response_1)
    
    GLOBAL_SOLUTIONS_FOR_SUBMISSION.append({
        'problem_id': row['problem_id'],
        'llm_out_1': response_1,
        # 'llm_out_2': response_2,
        'answer': numerical_answer
    })
    
pd.DataFrame(GLOBAL_SOLUTIONS_FOR_SUBMISSION).to_csv('baseline_answers_with_double_check.csv', index=False)

100%|██████████| 100/100 [03:35<00:00,  2.15s/it]

In [41]:
pd.DataFrame(GLOBAL_SOLUTIONS_FOR_SUBMISSION)[['problem_id', 'answer']].to_csv('flan_t5_submission.csv', index=False)

In [42]:
!df -h

Filesystem      Size  Used Avail Use% Mounted on
overlay         100G   60G   41G  60% /
tmpfs            64M     0   64M   0% /dev
tmpfs           7.7G     0  7.7G   0% /sys/fs/cgroup
/dev/nvme0n1p1  100G   60G   41G  60% /run
tmpfs            14G  4.0K   14G   1% /dev/shm
/dev/nvme2n1    2.0G  148M  1.8G   8% /home/jovyan
tmpfs            14G  120K   14G   1% /home/jovyan/.saturn
tmpfs            14G   12K   14G   1% /run/secrets/kubernetes.io/serviceaccount
tmpfs           7.7G   12K  7.7G   1% /proc/driver/nvidia
tmpfs           7.7G  3.0M  7.7G   1% /run/nvidia-persistenced/socket
tmpfs           7.7G     0  7.7G   0% /proc/acpi
tmpfs           7.7G     0  7.7G   0% /sys/firmware

In [43]:
train_df = pd.read_csv('train.csv')

In [50]:
train_df

    problem_id                                       problem_text answer
0         2374  Find the value of the expression $\dfrac{17}{5...    1.6
1         4723  In a company of 30 people, 25 use the social n...     24
2         7135  The number of road traffic accidents (RTAs) in...     32
3         5814  Find the value of the expression $\dfrac{2\str...    256
4         9237  A traveler from Moscow wants to visit four cit...     53
..         ...                                                ...    ...
95        7064  At school, 77 students study French, which is ...    385
96        7097  Among all the graduates of the school, 10 peop...     25
97        5448  The probability that a new ballpoint pen write...   0.79
98        2293  Find the value of the expression \(2\dfrac{5}{...    8.5
99        5261  Find the root of the equation \(\left(\dfrac{1...      5

[100 rows x 3 columns]

In [58]:
(train_df['answer'] == train_df['answer']).sum() / train_df.shape[0]

1.0

In [62]:
def accuracy(y: pd.Series, y_pred: pd.Series):
    return (y == y_pred).sum() / y.shape[0]

In [67]:
y_pred = (
    train_df.iloc[:10]
    .groupby('problem_id')
    .apply(
        lambda x: extract_numerical_answer(get_answer(x['problem_text']).strip())
    )
)

/tmp/ipykernel_523/3187776187.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  train_df.iloc[:10]

In [71]:
accuracy(train_df['answer'].iloc[:10], y_pred.reset_index(drop=True))

0.0

In [72]:
y_pred.reset_index(drop=True)

0     0.0
1     1.0
2     6.0
3    25.0
4     2.0
5     1.0
6     1.0
7     1.0
8    11.0
9     1.0
dtype: float64

In [73]:
train_df['answer'].iloc[:10]

0             1.6
1              24
2              32
3             256
4              53
5               3
6    27000; 64000
7               2
8             0.1
9             1.2
Name: answer, dtype: object